[Desktop Entry]
Name=Libadwaita Python Demo
Comment=GTK4 + Libadwaita demo in Python
Exec=example-python
Icon=com.obision.example.Python
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;
StartupNotify=true
