[Desktop Entry]
Name=Libadwaita C++ Demo
Comment=GTK4 + Libadwaita demo in C++
Exec=example-cpp
Icon=com.obision.example.Cpp
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;
StartupNotify=true
